.services__inner {
  @include section-inner;
}

.services__cards {
  display: flex;
  flex-wrap: row nowrap;
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px;

  @include bp-md {
    flex-flow: row wrap;
    margin-left: 0;
    margin-right: 0;
  }
}

.services__col {
  width: 16.6666%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  &:nth-child(2n + 1) {
    padding-top: 5.5rem;
    @include bp-md {
      padding-top: 0;
    }
  }

  @include bp-md {
    width: 50%;
    padding-left: 0;
    padding-right: 0;
  }
}

.services__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.2rem 2.4rem;
  background: #1e1f31;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15),
    0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  border: 1px solid $color-divider;
  margin-bottom: 3rem;
}

.services__card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: $color-high-emphasis;
  margin-top: 1.6rem;
  margin-bottom: 0.8rem;
}

.services__card-short-title {
  color: $color-primary-200;
  font-family: $type-family--alt;
  font-size: 1.6rem;
  line-height: 150%;
}

.services__heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .heading__title {
    max-width: 80rem;
  }
}

// .c-services__more {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   aspect-ratio: 1 / 1;
//   @include type-action;
//   color: $color-secondary;
//   border: 0.1rem solid $color-white;
//   transition: border-color $motion-m;
//   cursor: pointer;

//   &:hover {
//     border-color: $color-white;
//   }
// }

// .c-services__more-text {
//   display: flex;
//   align-items: center;
// }

// .c-services__more-text-icon {
//   display: inline-block;
//   background-color: $color-secondary;
//   transition: transform $motion-m;
//   margin-left: $indent-s;

//   .c-services__more:hover & {
//     transform: translate3d(16%, -16%, 0);
//     transform-style: preserve-3d;
//   }
// }

// .c-services__card {
//   margin-bottom: 6rem;

//   &:last-child {
//     margin-bottom: 0;
//   }
// }

// .c-services__card-content {
//   background-color: $color-backgorund;
//   display: flex;
//   flex-direction: row;

//   @include bp-md {
//     flex-direction: column;
//   }

//   @include bp-sm {
//     background-color: transparent;
//   }
// }

.services__card-image {
  display: block;
  width: 8rem;
  height: 8rem;
  object-fit: cover;

  @include bp-md {
    width: 4rem;
    height: 4rem;
  }
}

// .c-services__card-inner {
//   width: 100%;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: flex-end;
//   padding: 4rem 4rem 4rem 5rem;

//   @include bp-lg {
//     flex-direction: column;
//     align-items: flex-start;
//   }

//   @include bp-md {
//     padding: 3.2rem;
//   }

//   @include bp-sm {
//     padding: 2.4rem 0 0 0;
//   }
// }

// .c-services__card-text {
//   max-width: 67rem;
//   height: 100%;

//   @include bp-xl {
//     margin-right: 3.2rem;
//   }

//   @include bp-lg {
//     margin-right: 0;
//     margin-bottom: 3.2rem;
//   }
// }

// .c-services__card-title {
//   margin-bottom: $indent-m;
//   @include type-headline-4;
// }

// .c-services__card-description {
//   margin-bottom: $indent-m;

//   &:last-child {
//     margin-bottom: 0;
//   }
// }

// .c-services__card-button {
//   max-width: 22.6rem;
//   width: 100%;
//   height: 5.8rem;
//   display: inline-flex;
//   justify-content: center;

//   @include bp-lg {
//     flex-shrink: 0;
//   }

//   @include bp-sm {
//     max-width: 100%;
//   }
// }

// .c-services__card-more {
//   padding: 3.2rem 0 3.2rem 4rem;
//   border-left: 0.2rem solid;
//   border-right: 0.2rem solid;
//   border-bottom: 0.2rem solid;
//   border-color: #f4f7ff;

//   @include bp-md {
//     padding: 2.4rem;
//   }

//   @include bp-sm {
//     padding: $indent-m;
//   }
// }

// .c-services__card-more-title {
//   font-weight: 500;
//   font-family: "Inter Medium";
//   font-size: 15px;
//   line-height: 150%;

//   color: $color-text;
// }

// .c-services__card-more-list {
//   max-width: 92.5rem;
//   color: $color-text-secondary;
// }
